.chatContainer {
	width: 600px;
	height: 350px;
	border: 2px solid #0091ff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
  
.chatContainer .messages {
	flex: 80%;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: calc(100% - 30px);
	overflow-y: auto;
	text-align: left;
}
  
.chatContainer .message-input {
	flex: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
  
}
  
.chatContainer .message-input input{
	flex: 80%;
	height: calc(100% -5px);
	border: none;
	border-top: 5px solid #0091ff;
	padding-left: 20px;
	font-size: 20px;
}
  
.chatContainer .message-input button{
	flex: 20%;
	height: 100%;
	background-color: #0091ff;
	border: none;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.chatContainer .message-input button:hover{
	background-color: #1a5f94;
}
  
/* .message h1{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 17px;
	justify-content: flex-end;
} */
.message-container{
	display:flex;
	justify-content: flex-start;
}

.message-name{
	color: white;
	text-align: left;
	margin-bottom: 0.25em;
	padding-left: 1em;
	opacity: 0.8;
}

.message {
	min-width: 200px;
	min-height: 1.5em;
	border-radius: 10px;
	/* display: grid; */
	/* place-items: center; */
	padding: 10px;
	opacity: 0.9;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
	margin-bottom: 20px;
}

.other-message{
	background-color: #00ff88;
}

.my-message{
	background-color: #0091ff;
}

.me{
	justify-content: flex-end;
	/* background-color: #5ff064; */
	/* color: black; */
}